{% extends 'parent/base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'orders/css/order_detail.css' %}">
{% endblock %}

{% block content %}
    <h3>Order</h3>
    <div>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">TotalPrice</th>
                <th scope="col">ProductDetail</th>
            </tr>
            </thead>
            <tbody>
            {% with order_items=order.items.all %}
                {% for order_item in order_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.id }}</td>
                        <td>{{ order_item.product }}</td>
                        <td>{{ order_item.price | separate }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.get_cost | separate }}</td>
                        <td><a href="{% url 'home:product_detail' order_item.product.slug %}"
                               class="btn btn-outline-primary">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
            </tbody>
        </table>
    </div>
    {% if not order.paid %}
        <div id="coupon_form">
            <form action="{% url 'orders:coupon_apply' order.id %}" method="post" novalidate class="col-md-2">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="apply" class="btn btn-primary">
            </form>
        </div>
        <br>
        <a href="{% url 'orders:pay' order.id %}" class="btn btn-primary">Pay</a>
    {% else %}
        <div>


            <h2>pay info</h2>

            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">UserPhoneNumber</th>
                    <th scope="col">order_id</th>
                    <th scope="col">reference_id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </thead>
                {% with pay_details=order.payinfo %}
                    <tbody>
                    <tr>
                        <td>{{ pay_details.user.phone_number }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ pay_details.reference_id }}</td>
                        <td>{{ pay_details.created | date:"Y/m/d" }}</td>
                        <td>{{ pay_details.created | date:"H:i" }}</td>
                    </tr>
                    </tbody>
                {% endwith %}
            </table>
        </div>
    {% endif %}
    <h4> TotalPrice: {{ order.get_total_price | separate }}</h4><br>
{% endblock %}
